*{
  margin: 0;
  padding: 0;
}
.wrapper { 
  width: 1400px;
  height: 940px;
  box-shadow: 0 4px 68px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin: 0 auto;
}

.row{
  margin: 0 50px;

}

.title { 
  color: #171717;
  font-family: "Playfair Display";
  font-size: 42px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.21px;
  padding-top: 50px;
  margin-bottom: 50px;
}

.text1 { 
  width: 1141px;
  opacity: 0.7;
  color: #171717;
  font-family: 'Lato';
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-style: normal;
  letter-spacing: -0.09px;
  line-height: 40px;
  margin-bottom: 30px;
}

.text2 { 
  width: 1141px;
  opacity: 0.7;
  color: #171717;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-style: normal;
  letter-spacing: -0.09px;
  line-height: 34px;
}

.big-t { 
  color: #000000;
  font-family: "Playfair Display";
  font-size: 110px;
  font-weight: 400;
  font-style: normal;
  line-height: 34px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: -0.55px;
  float: left;
  padding: 0px 70px 10px 0px;
  line-height: 0.90em;
}

.button{
  width: 264px;
  height: 68px;
  border: 2px solid #eaa258;
  background-color: #ffffff;margin-top: 39px;
}

.button__text { 
  color: #eaa258;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  text-decoration: none;
  padding: 27px 70px;
}


.part2{
  display: flex;
  justify-content: center;
  margin: 50px 0;
  color: yellowgreen;
  font-size: 18px;
  text-decoration: none;
}

.font-itali{
  font-style: italic;
  padding-left: 10px;
}